<p id="notice"><%= notice %></p>

<p>
  <strong>Employee number:</strong>
  <%= @employee.employee_number %>
</p>

<p>
  <strong>Employee name:</strong>
  <%= @employee.employee_name %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @employee.hours %>
</p>

<p>
  <strong>Date of start:</strong>
  <%= @employee.date_of_start %>
</p>

<p>
  <strong>Vacation time:</strong>
  <%= @employee.vacation_time %>
</p>

<p>
  <strong>Personal time:</strong>
  <%= @employee.personal_time %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
